language: go
go:
  - 1.3
  - 1.3.1
  - 1.3.2
  - 1.3.3
  - 1.4
  - 1.4.1
  - 1.4.2
  - 1.4.3
  - 1.5
  - 1.5.1
  - tip
sodo: false
install:
  - go get github.com/golang/lint/golint
script:
  - golint ./... | tee .golint.txt
  - test ! -s .golint.txt
